<div class="app" fxFlexFill fxLayout="column">
  <div class="app__content" fxFlex>
    <router-outlet></router-outlet>
  </div>
  <div class="app__footer" fxFlex="56px" fxLayout="row">
    <div fxFlex>
      <a href="https://www.rkara.us" target="_BLANK">&copy; Ryan Kara 2021</a>
      <p>This website is not affiliated with SparkPeople.</p>
    </div>
    <div fxFlex="36px" class="social-icons">
      <a href="https://twitter.com/RyanLKara" target="_BLANK"
        ><i class="fab fa-twitter-square"></i
      ></a>
    </div>
  </div>
</div>
